{% extends "base_home.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
            <p>This is a project by Jorin Eggers. The AI Story Teller uses GPT-4, ElevenLabs and Stable Diffusion to
                generate
                stories.
            </p>
            <p>It is a work in progress and I am still working on it. If you have any questions or feedback, please
                contact me
                via <a href="mailto:jceg222@uky.edu">email</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}