{% extends "base_home.html" %}
{% block body %}
<div class="container w-50">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
            <p>At the heart of AI Story Teller lies a transformative perspective: the considerate use of natural
                language prompts as a programming language for our large language models. This unique methodology
                uncloaks a new dimension of interaction and control over AI technologies like GPT-4.</p>

            <p>The AI Story Teller intertwines the disruptive intellect of GPT-4, inspiration garnered from ElevenLabs
                at MIT, and the dynamic innovation of Stable Diffusion. Conjoining these technologies into
                an intricate fabric, the platform generates narratives that immerse readers in an extraordinary
                storytelling experience.</p>

            <p>Natural language prompts used here reflect the platform's commitment to assimilating a programming
                language into day-to-day human language. The prompts encapsulate instructions to guide GPT-4 into
                crafting the desired narratives. These prompts, written in an easily understandable language, function
                as a bridge to control and direct the AI. Such an approach is something that echoes the evolution of
                programming itself - from the rigidness of machine language to the fluidity of high-level programming
                languages.</p>

            <p>While the platform's robust internals rely on Python, Flask, JavaScript, HTML, and CSS, it's the
                integration of natural language as a source code that has enabled it to tread new technological grounds.
                Delving into the technicalities, you can visit our open-source repository on <a
                    href="https://github.com/Jorineg/AI-Story-Teller">GitHub</a>. To understand the power of such
                prompts, you can check them out <a
                    href="https://github.com/Jorineg/AI-Story-Teller/blob/main/prompts.yaml">here</a>.</p>

            <p>AI Story Teller is the brainchild of <a href="mailto:jceg222@uky.edu">Jorin Eggers</a>. His innovative
                approach has essentially redefined how we understand and control AI technologies. Through this platform,
                Jorin has showcased the marvelous possibilities that come with the fusion of artificial intelligence and
                human-like storytelling.</p>
            <p><i>&laquo; GPT-4 &raquo;</i></p>
        </div>
    </div>
</div>
{% endblock %}